In [74]:
import pandas as pd
src_file = 'dprice.xlsx'

### 读取指定范围单元格数据

In [75]:
columns_name=['形状','证书','分数','净度','颜色','切工','抛光','对称','价格']

In [76]:
#后续block_df()函数用到
def range_cell(header,cols,rows):
    data = pd.read_excel(src_file,header=header,usecols=cols,nrows=rows,names=['Carat','D','E','F','G','H','I'])
    #读取时直接更改列名    
    return data

In [77]:
col_names = ['D','E','F','G','H','I'] 
#cols = [x for x in range(1,8)]
df_cell = range_cell(3,range(1,8),7)
df_cell = df_cell.round()
df_cell

  Carat       D       E       F       G       H       I
0    IF  8442.0  6693.0  6271.0  5749.0  5494.0  4807.0
1  VVS1  6566.0  6198.0  6010.0  5487.0  5360.0  4670.0
2  VVS2  6198.0  5856.0  5749.0  5357.0  5226.0  4533.0
3   VS1  5856.0  5601.0  5487.0  5226.0  5092.0  4395.0
4   VS2  5487.0  5226.0  5095.0  4965.0  4958.0  4120.0
5   SI1  4945.0  4670.0  4533.0  4288.0  4258.0  3658.0
6   SI2  4080.0  3940.0  3799.0  3571.0  3518.0  3313.0

In [400]:
i=0
df_cell = range_cell(3,range(i*8+1,8+i*8),7)  #range(1+i*8,8+i*8)
df_cell

  Carat       D       E        F        G        H        I
0    IF  8442.0  6693.3  6271.20  5748.60  5494.00  4807.25
1  VVS1  6566.0  6197.5  6009.90  5487.30  5360.00  4669.90
2  VVS2  6197.5  5855.8  5748.60  5356.65  5226.00  4532.55
3   VS1  5855.8  5601.2  5487.30  5226.00  5092.00  4395.20
4   VS2  5487.3  5226.0  5095.35  4964.70  4958.00  4120.50
5   SI1  4944.6  4669.9  4532.55  4288.00  4257.85  3658.20
6   SI2  4080.3  3939.6  3798.90  3571.10  3517.50  3313.15

In [78]:

carat_lst = ['0.5','0.7','0.9','1','1.2','1.5','2.0','3.0','4.0','5.0']    #分数
col_names = ['D','E','F','G','H','I']    #color颜色
# carat = '0.5'

In [414]:
def df_transfer(carat,df,rows):
    unit_df = pd.DataFrame(index= range(1,(rows*6+1)),columns=columns_name)
    #重新组合数据
    unit_df['分数'] = carat
    counter = 0
    for row in range(rows):
        for col in col_names:
            counter += 1
            unit_df.loc[counter]['净度']=df.iloc[row,0]
            unit_df.loc[counter]['颜色']=col
            unit_df.loc[counter]['价格']=int(df.loc[row][col].round())
    return unit_df

In [395]:
df = pd.DataFrame(index = [0],columns=columns_name)
#前面四段有规律
for i in range(4):
    block_data1 = range_cell(3+i*11,"B:H",7)
    # print(block_data1)
    data = df_transfer(carat_lst[i],block_data1,7)
    # print(data)
    df = pd.concat([df,data],axis=0,ignore_index=True,join='outer')
    # df = df.append(data)
#中间carat1.2单独计算
block_data2 = range_cell(47,"B:H",6)
# print(block_data2)
data = df_transfer(carat_lst[4],block_data2,6)
# print(data)
df = pd.concat([df,data],axis=0,ignore_index=True,join='outer')

#第三段数据处理
for i in range(2):
    block_data3 = range_cell(57+i*10,"B:H",7)
    data = df_transfer(carat_lst[5+i],block_data3,7)
    df = pd.concat([df,data],axis=0,ignore_index=True,join='outer')

#第四段数据处理
for i in range(3):
    block_data4= range_cell(78+i*11,"B:H",7)
    data = df_transfer(carat_lst[7+i],block_data4,7)
    df = pd.concat([df,data],axis=0,ignore_index=True,join='outer')    
df.drop(index=0,inplace=True)
print(df.head(10))

Exception ignored in: <function ZipFile.__del__ at 0x000001EE28029EE0>
Traceback (most recent call last):
  File "C:\Users\SAM\anaconda3\lib\zipfile.py", line 1821, in __del__
    self.close()
KeyboardInterrupt:

     形状   证书   分数    净度 颜色   切工   抛光   对称       价格
1   NaN  NaN  0.5    IF  D  NaN  NaN  NaN   8442.0
2   NaN  NaN  0.5    IF  E  NaN  NaN  NaN   6693.3
3   NaN  NaN  0.5    IF  F  NaN  NaN  NaN   6271.2
4   NaN  NaN  0.5    IF  G  NaN  NaN  NaN   5748.6
5   NaN  NaN  0.5    IF  H  NaN  NaN  NaN   5494.0
6   NaN  NaN  0.5    IF  I  NaN  NaN  NaN  4807.25
7   NaN  NaN  0.5  VVS1  D  NaN  NaN  NaN   6566.0
8   NaN  NaN  0.5  VVS1  E  NaN  NaN  NaN   6197.5
9   NaN  NaN  0.5  VVS1  F  NaN  NaN  NaN   6009.9
10  NaN  NaN  0.5  VVS1  G  NaN  NaN  NaN   5487.3

In [415]:
#整理上述算法为一个函数
def block_df(block_counter):
    df = pd.DataFrame(index = [0],columns=columns_name)
    #前面四段有规律
    for i in range(4):
        block_data1 = range_cell(3+i*11,range(1+block_counter*8,8+block_counter*8),7)
        # print(block_data1)
        data = df_transfer(carat_lst[i],block_data1,7)
        # print(data)
        df = pd.concat([df,data],axis=0,ignore_index=True,join='outer')
        # df = df.append(data)
    #中间carat1.2单独计算
    block_data2 = range_cell(47,range(1+block_counter*8,8+block_counter*8),6)
    # print(block_data2)
    data = df_transfer(carat_lst[4],block_data2,6)
    # print(data)
    df = pd.concat([df,data],axis=0,ignore_index=True,join='outer')

    #第三段数据处理
    for i in range(2):
        block_data3 = range_cell(57+i*10,range(1+block_counter*8,8+block_counter*8),7)
        data = df_transfer(carat_lst[5+i],block_data3,7)
        df = pd.concat([df,data],axis=0,ignore_index=True,join='outer')

    #第四段数据处理
    for i in range(3):
        block_data4= range_cell(78+i*11,range(1+block_counter*8,8+block_counter*8),7)
        data = df_transfer(carat_lst[7+i],block_data4,7)
        df = pd.concat([df,data],axis=0,ignore_index=True,join='outer')
    df.drop(index=0,inplace=True)
      
    return df

In [416]:
#创建block的pickle list, 给每个区域块都另存为Pickle，以提高后续读取性能 date:2021.07.27
#需要前面的函数block_df()
block_df_lst = []
for i in range(13):
    pickle_name = 'block_df' + str(i) + '.pk' + str(i)
    print(pickle_name)
    block_df(i).to_pickle(pickle_name)
    block_df_lst.append(pickle_name)
print(block_df_lst)

block_df0.pk0
block_df1.pk1
block_df2.pk2
block_df3.pk3
block_df4.pk4
block_df5.pk5
block_df6.pk6
block_df7.pk7
block_df8.pk8
block_df9.pk9
block_df10.pk10
block_df11.pk11
block_df12.pk12
['block_df0.pk0', 'block_df1.pk1', 'block_df2.pk2', 'block_df3.pk3', 'block_df4.pk4', 'block_df5.pk5', 'block_df6.pk6', 'block_df7.pk7', 'block_df8.pk8', 'block_df9.pk9', 'block_df10.pk10', 'block_df11.pk11', 'block_df12.pk12']

In [417]:
#代码段测试
block = []
#01.第一区域
block.append({
    'shape': ['Round'],
    'cert':  ['GIA'],
    'craft':{'EX':3},
    'data': block_df_lst[12]
})
data_r = pd.read_pickle(block[0]['data'])
data_r

      形状   证书   分数   净度 颜色   切工   抛光   对称     价格
1    NaN  NaN  0.5   IF  D  NaN  NaN  NaN   4670
2    NaN  NaN  0.5   IF  E  NaN  NaN  NaN   4221
3    NaN  NaN  0.5   IF  F  NaN  NaN  NaN   4201
4    NaN  NaN  0.5   IF  G  NaN  NaN  NaN   3946
5    NaN  NaN  0.5   IF  H  NaN  NaN  NaN   3658
..   ...  ...  ...  ... ..  ...  ...  ...    ...
410  NaN  NaN  5.0  SI2  E  NaN  NaN  NaN  23048
411  NaN  NaN  5.0  SI2  F  NaN  NaN  NaN  21976
412  NaN  NaN  5.0  SI2  G  NaN  NaN  NaN  20251
413  NaN  NaN  5.0  SI2  H  NaN  NaN  NaN  19296
414  NaN  NaN  5.0  SI2  I  NaN  NaN  NaN  17688

[414 rows x 9 columns]

In [418]:
#全部区域创建成一个数组，每个数组包含形状，证书，工艺，数据(报价包含在data里,data保存有pickle文件指向，需要的时候进行读取)
blocks = []
#01.第一区域
blocks.append( {
    'shape': ['Round'],
    'cert':  ['GIA'],
    'craft':{'EX':3,'VG':None},
    'data': block_df_lst[0]
})
#02.第二区域
blocks.append({
    'shape': ['Round'],
    'cert':  ['GIA'],
    'craft':{'C01':'EX','C02':'VG','C03':'VG','EX':None,'VG':None},
    'data': block_df_lst[1]
})
#03.第三区域excel表中为第三栏 Round GIA 3VG+/IGI 3EX, 拆成两个不同的元素，对应到同一个pickle
blocks.append({
    'shape': ['Round'],
    'cert':  ['GIA'],
    'craft': {'VG':3,'EX':None},
    'data': block_df_lst[2]
})
#04.第四区域
blocks.append({
    'shape': ['Round'],
    'cert':  ['IGI'],
    'craft':{'C01':'EX','C02':'VG','C03':'VG','EX':None,'VG':None},
    'data': block_df_lst[3]
})

#05.第五区域AH ROUND IGI 3VG+
blocks.append({
    'shape': ['Round'],
    'cert':  ['IGI'],
    'craft':{'VG':3,'EX':None},
    'data': block_df_lst[4]
})

#06.第六区域AP Pear/Oval/Heart/MQ GIA 2EX
blocks.append({
    'shape': ['Pear','Oval','Heart','MQ'],
    'cert':  ['GIA'],
    'craft':{'EX':2,'VG':None},
    'data': block_df_lst[5]
})

#07.第七区域AX Pear/Oval/Heart/MQ GIA VG+ 至少一个VG
blocks.append({
    'shape': ['Pear','Oval','Heart','MQ'],
    'cert':  ['GIA'],
    'craft':{'VG':1,'EX':None},
    'data': block_df_lst[6]
})
#08.第八区域BF Pear/Oval/Heart/MQ IGI 2EX
blocks.append({
    'shape': ['Pear','Oval','Heart','MQ'],
    'cert':  ['IGI'],
    'craft':{'EX':2,'VG':None},
    'data': block_df_lst[7]
})

#09.第九区域BN Pear/Oval/Heart/MQ IGI VG+ 至少一个VG
blocks.append({
    'shape': ['Pear','Oval','Heart','MQ'],
    'cert':  ['IGI'],
    'craft':{'VG':1,'EX':None},
    'data': block_df_lst[8]
})

#10.第十区域BV Cushion...  GIA 2EX
blocks.append({
    'shape': ['Cushion','Radiant','Emerald','Assher','Princess'],
    'cert':  ['GIA'],
    'craft':{'EX':2,'VG':None},
    'data': block_df_lst[9]
})
#11.第十一区域CD Cushion...  GIA VG+
blocks.append({
    'shape': ['Cushion','Radiant','Emerald','Assher','Princess'],
    'cert':  ['GIA'],
    'craft':{'VG':1,'EX':None},
    'data': block_df_lst[10]
})
#12.第十二区域CL Cushion...  IGI 2EX
blocks.append({
    'shape': ['Cushion','Radiant','Emerald','Assher','Princess'],
    'cert':  ['IGI'],
    'craft':{'EX':2,'VG':None},
    'data': block_df_lst[11]
})
#13.第十三区域CT Cushion...  IGI VG+
blocks.append({
    'shape': ['Cushion','Radiant','Emerald','Assher','Princess'],
    'cert':  ['IGI'],
    'craft':{'VG':1,'EX':None},
    'data': block_df_lst[12]
})
#14.来自于第三个的分拆
blocks.append({
    'shape': ['Round'],
    'cert':  ['IGI'],
    'craft': {'EX':3,'VG':None},
    'data': block_df_lst[2]
})

# #14区域开始重复了
# 14.第十四区域DB Pear/Oval。。。 GIA 2EX
# block.append({
#     'shape': ['Pearl','Oval','Heart','MQ'],
#     'cert':  ['GIA'],
#     'craft':{'EX':2}
# })

len(blocks)

14

In [419]:
#首先输入形状，马上进行列表内字典对形状的检索，形状从用户获取输入shape_in,cert_in
shape_in = 'Cushion'
cert_in = 'IGI'


# #接受用户输入工艺craft,需要计算EX和VG的个数
craft_in1 = 'EX'
craft_in2 = ''
craft_in3 = 'EX'

crafts = [craft_in1,craft_in2,craft_in3]
ex_num = crafts.count('EX')
vg_num = crafts.count('VG')

r_blocks = []  
results = []

#如果shape_in和证书为Round和GIA的情况，需要考虑三个单独的情况
if (shape_in == 'Round') & (crafts == ['EX','VG','VG'] ):
    #先比较三个顺序相等，因为只有两个元素，各自比较即可
    if( cert_in == 'GIA'):
        results.append(blocks[1])
    elif (cert_in == 'IGI'):
        results.append(blocks[3])
    
#################################################################################################
for block in blocks:
    # print(block.get('shape'))
    if (shape_in in block.get('shape')) & (cert_in in block.get('cert')): 
        r_blocks.append(block)
# print(r_blocks)

for block in r_blocks:
    if (ex_num == block.get('craft')['EX']) | (vg_num == block.get('craft')['VG']):
        print(block)
        results.append(block)

#################################################################################################

{'shape': ['Cushion', 'Radiant', 'Emerald', 'Assher', 'Princess'], 'cert': ['IGI'], 'craft': {'EX': 2, 'VG': None}, 'data': 'block_df11.pk11'}

In [ ]:
#2021.07.28 处理颜色和分数等以获取报价
#获取用户输入
carat_in = '0.5'
color_in = 'E'
purity_in = 'IF'

#针对上一步找到的记录，找出对应的价格
df_price = pd.DataFrame(index = [0], columns=columns_name)
if len(results) != 0:
    for item in results:
        # data_r = item['data']
        data_r = pd.read_pickle(item['data'])
        # print(data_r['分数'])
        result = data_r[(df['分数'] == carat_in) & (df['净度'] == purity_in) & (df['颜色'] == color_in)]
        # print(result)
        df_price = df_price.append(result,ignore_index=True)
        # print(df_price)
if df_price.empty:
    print("无法找到对应的报价信息，请重新输入查询条件！")
else:
    #打印或者其他处理结果的方法
    df_price.drop(index=0,inplace=True)
    df_price['形状'] = shape_in
    df_price['证书'] = cert_in
    df_price['切工'] = craft_in1
    df_price['抛光'] = craft_in2
    df_price['对称'] = craft_in3

df_price

In [ ]:
#重新使用openpyxl读取excel指定范围单元格
from openpyxl import load_workbook
import pandas as pd 

columns_name=['形状','证书','分数','净度','颜色','切工','抛光','对称','价格'] 
carat = '0.5'

wb = load_workbook('dprice.xlsx')
ws = wb['品牌价格']

cell_range = ws.iter_rows(min_row=4,max_row=11,min_col=2,max_col=8,values_only=True)
# print(type(cell_range))
cell_df = pd.DataFrame(cell_range)
cell_df.columns = cell_df.loc[0]
cell_df.drop(index=0,inplace=True)
col_names = cell_df.columns[1:]
cell_df.reset_index(inplace=True,drop=True)

#上面优化完成dataframe,之后可以进行转换
unit_df  = unit_df = pd.DataFrame(index= range(1,43),columns=columns_name) 
counter = 0
unit_df['分数'] = carat
for row in range(len(cell_df)):
    for col in col_names:
        counter += 1
        unit_df.loc[counter]['净度'] = cell_df.iloc[row,0]
        unit_df.loc[counter]['颜色'] = col 
        unit_df.loc[counter]['价格'] = cell_df.loc[row][col]
        #上面价格的类型有些为int,一些为float 
unit_df

# def df_transfer(carat,df,rows):
#     unit_df = pd.DataFrame(index= range(1,(rows*6+1)),columns=columns_name)
#     #重新组合数据
#     unit_df['分数'] = carat
#     counter = 0
#     for row in range(rows):
#         for col in col_names:
#             counter += 1
#             unit_df.loc[counter]['净度']=df.iloc[row,0]
#             unit_df.loc[counter]['颜色']=col
#             unit_df.loc[counter]['价格']=int(df.loc[row][col].round())
#     return unit_df

In [ ]:
import pandas as pd

df_inventory = pd.read_excel('inventory.xlsx',header=1)
df_c = df_inventory[['切工','抛光','对称']]

ex_num = df_c[df_c == 'EX'].count(axis = 1).to_list()
vg_num = df_c[df_c == 'VG'].count(axis = 1).to_list()
df_inventory['EX计数'] = ex_num
df_inventory['VG计数'] = vg_num
df_inventory['条件'] = ''

fixed = df_c[(df_c['切工'] == 'EX') & (df_c['抛光'] == 'VG') & (df_c['对称'] == 'VG')] 
# print(fixed)
print(fixed.index.tolist())
for index in fixed.index.tolist():
    df_inventory.loc[index,'条件'] = 'FIXED'


df_price = pd.DataFrame(index = [0],columns=['钻色','条件','形状','证书','分数','净度','颜色','切工','抛光','对称','价格'])
results = pd.DataFrame(index = [0],columns=['钻色','条件','形状','证书','分数','净度','颜色','切工','抛光','对称','价格'])

df_price.loc[0] = (['白钻','2EX','Pear','GIA','0.5','IF','D','EX','VG','EX',18542])
df_price.loc[1] = ['白钻','1VG+','Pear','GIA','0.5','IF','D','EX','VG','EX',17306]
print(df_price)
# df_inventory['分数'] = df_inventory['分数'].to_string()
df_result = df_inventory[df_inventory['条件'] == 'FIXED']
print(df_result)

for row in range(len(df_price)):
    data_r = df_result[(df_result['分数'] == float(df_price.loc[row]['分数'])) & (df_result['颜色'] == df_price.loc[row]['颜色']) & (df_result['证书'] == df_price.loc[row]['证书']) &(df_result['净度'] == df_price.loc[row]['净度'])]
    results = pd.concat([results,data_r],axis=0,ignore_index=True,join='outer')
    # df_result = df_result[(df_result['分数'] == float(df_price.loc[row]['分数']))]
results.drop(0,inplace = True)
print(df_inventory.columns)

In [183]:
import pandas as pd

df_inventory = pd.read_excel('inventory.xlsx',header=1)
df_c = df_inventory[['切工','抛光','对称']]

ex_num = df_c[df_c == 'EX'].count(axis = 1).to_list()
vg_num = df_c[df_c == 'VG'].count(axis = 1).to_list()
df_inventory['EX计数'] = ex_num
df_inventory['VG计数'] = vg_num
df_inventory['条件'] = ''

fixed = df_c[(df_c['切工'] == 'EX') & (df_c['抛光'] == 'VG') & (df_c['对称'] == 'VG')] 
# print(fixed)
print(fixed.index.tolist())
for index in fixed.index.tolist():
    df_inventory.loc[index,'条件'] = 'FIXED'


df_price = pd.DataFrame(index = [0],columns=['钻色','条件','形状','证书','分数','净度','颜色','切工','抛光','对称','价格'])
results = pd.DataFrame(index = [0],columns=df_inventory.columns)

df_price.loc[0] = (['白钻','2EX','Round','IGI','0.5','VS1','D','EX','VG','EX',18542])
df_price.loc[1] = ['白钻','1VG+','Pear','GIA','0.5','IF','D','EX','VG','EX',17306]
print(df_price)
# df_inventory['分数'] = df_inventory['分数'].to_string()
df_result = df_inventory[df_inventory['条件'] == 'FIXED']
print(df_result)

[222, 300, 748]
   钻色    条件     形状   证书   分数   净度 颜色  切工  抛光  对称     价格
0  白钻   2EX  Round  IGI  0.5  VS1  D  EX  VG  EX  18542
1  白钻  1VG+   Pear  GIA  0.5   IF  D  EX  VG  EX  17306
        货号   分数     形状   证书          证书号    重量 颜色   净度  切工  抛光  对称 荧光   台宽比  \
222  C1688  1.5  Round  IGI  LG432002191  1.50  F  SI2  EX  VG  VG  N  55.5
300  C1863  1.0  Round  IGI  LG436055586  1.08  D  SI1  EX  VG  VG  N  56.0
748  C1619  1.5  Round  IGI  LG425077648  1.51  E  VS2  EX  VG  VG  N  60.5

      全深比                  尺寸    培育 处理  EX计数  VG计数     条件
222  61.7  7.30 - 7.35 X 4.52  HPHT  N     1     2  FIXED
300  61.0  6.63 - 6.66 X 4.05  HPHT  N     1     2  FIXED
748  61.2  7.27 - 7.34 X 4.47  HPHT  N     1     2  FIXED

In [187]:
print(df_price.iloc[0]['条件'])

2EX

In [184]:
df_fixed = df_inventory[df_inventory['条件'] == 'FIXED']
if not df_price.empty:
    #直接对df_price进行循环
    for row in range(len(df_price)):
        if df_price.loc[row]['条件'] == 'FIXED':
            data_r = df_fixed[(df_fixed['分数'] == float(df_price.loc[row]['分数'])) & (df_fixed['颜色'] == df_price.loc[row]['颜色']) & (df_fixed['证书'] == df_price.loc[row]['证书']) &(df_fixed['净度'] == df_price.loc[row]['净度'])]
        else:
            data_r = df_inventory[(df_inventory['分数'] == float(df_price.loc[row]['分数'])) & (df_inventory['颜色'] == df_price.loc[row]['颜色']) & (df_inventory['证书'] == df_price.loc[row]['证书']) &(df_inventory['净度'] == df_price.loc[row]['净度'])]   
            data_r = data_r[((data_r['EX计数'] == int(df_price.loc[row]['条件'][0:1])) & (df_price.loc[row]['条件'][1:] == 'EX')) | ((data_r['VG计数'] == int(df_price.loc[row]['条件'][0:1])) & (df_price.loc[row]['条件'][1:] == 'VG+'))]
        data_r['条件'] = df_price.loc[row]['条件']
        data_r['价格'] = df_price.loc[row]['价格']
        print("this is data",data_r)
        # data_r.loc['条件'] = df_price.loc['条件']
        # data_r.['价格'] = df_price.loc[row]['价格']
        results = pd.concat([results,data_r],axis=0,ignore_index=True,join='outer')
        # if not results.empty: 
        #     print(results['条件'])

        # results.loc[row]['条件'] = df_price[row]['条件']
    # if not results.empty:
    #     results.drop(0,inplace=True)    
    print(results)
else:
    "无法找到相应的报价！"

this is data         货号   分数     形状   证书          证书号    重量 颜色   净度  切工  抛光  ... 荧光   台宽比  \
86   C5053  0.5  Round  IGI  LG483198410  0.53  D  VS1  EX  EX  ...  N  57.5
107  C4721  0.5  Round  IGI  LG480158245  0.57  D  VS1  EX  VG  ...  N  60.0

      全深比                  尺寸    培育 处理 EX计数  VG计数   条件     价格
86   61.0  5.23 - 5.24 X 3.19  HPHT  N    2     1  2EX  18542
107  59.2  5.40 - 5.42 X 3.20  HPHT  N    2     1  2EX  18542

[2 rows x 21 columns]
this is data Empty DataFrame
Columns: [货号, 分数, 形状, 证书, 证书号, 重量, 颜色, 净度, 切工, 抛光, 对称, 荧光, 台宽比, 全深比, 尺寸, 培育, 处理, EX计数, VG计数, 条件, 价格]
Index: []

[0 rows x 21 columns]
      货号   分数     形状   证书          证书号    重量   颜色   净度   切工   抛光  ...   荧光  \
0    NaN  NaN    NaN  NaN          NaN   NaN  NaN  NaN  NaN  NaN  ...  NaN
1  C5053  0.5  Round  IGI  LG483198410  0.53    D  VS1   EX   EX  ...    N
2  C4721  0.5  Round  IGI  LG480158245  0.57    D  VS1   EX   VG  ...    N

    台宽比   全深比                  尺寸    培育   处理 EX计数 VG计数   条件       价格
0   NaN   NaN                 NaN   NaN  NaN  NaN  NaN  NaN      NaN
1  57.5  61.0  5.23 - 5.24 X 3.19  HPHT    N    2    1  2EX  18542.0
2  60.0  59.2  5.40 - 5.42 X 3.20  HPHT    N    2    1  2EX  18542.0

[3 rows x 21 columns]

In [ ]:
import pandas as pd

df_inventory = pd.read_excel('inventory.xlsx',header=1)
df_c = df_inventory[['切工','抛光','对称']]

ex_num = df_c[df_c == 'EX'].count(axis = 1).to_list()
vg_num = df_c[df_c == 'VG'].count(axis = 1).to_list()
df_inventory['EX计数'] = ex_num
df_inventory['VG计数'] = vg_num
df_inventory['条件'] = ''

fixed = df_c[(df_c['切工'] == 'EX') & (df_c['抛光'] == 'VG') & (df_c['对称'] == 'EX')] 
print(fixed)

index = fixed.index.tolist()
print(df_inventory.loc[index])

In [ ]:
from dinquiry import price_search,inventory_search,inventory_search_no_craft, price_search_no_craft,df_inventory_table
df_inventory_table().head(10)

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'城市':['北京','广州', '天津', '上海', '杭州', '成都', '澳门', '南京','北京','北京'], 
 
                   '收入':[10000, 10000, 5000, 5002, 40000, 50000, 8000, 5000,5000,5000],
 
                    '年龄':[50, 43, 34, 40, 25, 25, 45, 32,25,25]})
df.set_index([["一","二","三","四","五","六","七","八","九","十"]],inplace=True)
d_series = df['城市'].value_counts()
d_series

北京    3
广州    1
天津    1
上海    1
杭州    1
成都    1
澳门    1
南京    1
Name: 城市, dtype: int64

In [17]:

df = pd.DataFrame({'Country':['China','China', 'India', 'India', 'America', 'Japan', 'China', 'India'],
                   'Income':[10000, 10000, 5000, 5002, 40000, 50000, 8000, 5000],
                    'Age':[5000, 4321, 1234, 4010, 250, 250, 4500, 4321]})
print(df)
print(df.groupby('Country'))
# <pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001F536989888>
 
print(df.groupby('Country').groups)

   Country  Income   Age
0    China   10000  5000
1    China   10000  4321
2    India    5000  1234
3    India    5002  4010
4  America   40000   250
5    Japan   50000   250
6    China    8000  4500
7    India    5000  4321
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000133CE2595E0>
{'America': [4], 'China': [0, 1, 6], 'India': [2, 3, 7], 'Japan': [5]}

In [29]:
# 遍历该对象输出
for index, data in df.groupby('Country'):
    print(type(data))
    for line in range(len(data)):
        print(data.iloc[line])
    # print(data['Country'])

<class 'pandas.core.frame.DataFrame'>
Country    America
Income       40000
Age            250
Name: 4, dtype: object
<class 'pandas.core.frame.DataFrame'>
Country    China
Income     10000
Age         5000
Name: 0, dtype: object
Country    China
Income     10000
Age         4321
Name: 1, dtype: object
Country    China
Income      8000
Age         4500
Name: 6, dtype: object
<class 'pandas.core.frame.DataFrame'>
Country    India
Income      5000
Age         1234
Name: 2, dtype: object
Country    India
Income      5002
Age         4010
Name: 3, dtype: object
Country    India
Income      5000
Age         4321
Name: 7, dtype: object
<class 'pandas.core.frame.DataFrame'>
Country    Japan
Income     50000
Age          250
Name: 5, dtype: object

In [ ]:
shape_lst = ['Round 圆钻明亮型','Pear 水滴型','Oval 椭圆形','Heart 心形','MQ 马眼型','Cushion 垫型(枕型)','Radiant 雷迪恩','Emerald 祖母类型','Assher 阿斯切','Princess 公主方']   #形状
shape_lst_en = [x.split(' ')[0] for x in shape_lst]
print(shape_lst_en)